.Weather {
    font-family: "Poppins";
    padding: 18px;
    border-radius: 4px;
}

.Weather h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 20px 0 0;
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 29px;
  color:rgb(38, 52, 61);
}

.Weather ul {
  margin: 5;
  padding: 0;
}

.Weather li {
  font-size: 14px;
  font-weight: 200;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}

.Weather .temperature {
  font-weight: thin;
  color: #26243d;
  font-size: 80px;
  margin-left: 5px;
  font-weight: 400;
}

.Weather .unit {
  color: #4f5e69;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #568d9b;
  border-radius: 5px;
  font-size: 14px;
  transition: outline 0.3s;
}

.Weather .form-control:hover {
  outline: 1px solid #568d9b;
  border: none;
}

.Weather .form-control:focus {
  border: 1px solid #568d9b;
  outline: none;
}

.Weather .btn:hover {
  background-color: #568d9b;
}

.Weather .btn {
  background-color: #568d9b;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;;
  color: white;
  cursor: pointer;
  font-size: 14px;
}