.WeatherForecast {
    text-align: center;
    font-size: 16px;
}

.WeatherForecast-day {
    font-size: 16px;
    margin-top: 20px;
    opacity:0.9;
}

.WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 10px;
    color: #f96d00;
}